
#new_offer {
    -fx-text-fill: linear-gradient(to right, #f00, #ff0, #0f0, #00f);
    -fx-background-color: transparent;
    -fx-animated: animate 20s linear infinite;
    -fx-rotate: 340;
    -fx-font-size: 24;
}
#product_image_view{
    -fx-border-color: black;
}
@keyframes animate {
    0% {
        -fx-background-position: 0% 100%;
    }
    50% {
        -fx-background-position: 100% 0%;
    }
    100% {
        -fx-background-position: 0% 100%;
    }

}